.page{
    width: 100vw;
}

@media (max-width: 1000px) {
    .menu-container {}

    .menu {
        position: fixed;
        background-color: white;
        width: 250px;
        height: 100vh;
        margin-top: 4px;
        border-right-width: medium;
        border-right-style: solid;
        border-right-color: #e7e7e7;
    }

}

.splash-screm {
    background-color: white;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-splash1{
   width: 4rem;
   font-size: 2rem;
   text-shadow: 0.1em 0.1em 0.2em black;
    animation: splash1 4s infinite;
}

@keyframes splash1 {
    0% {
        transform: translate(-350px,-50px);
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    15% {
        opacity: 1;
    }
    30% {
        opacity: 0;
    }
    35% {
        transform: translate(-100px,-50px);
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

.image-splash2{
   width: 15rem;
   font-size: 2rem;
   text-shadow: 0.1em 0.1em 0.2em black;
    animation: splash2 4s infinite;
}

@keyframes splash2 {
    0% {
        opacity: 0;
    }
 
    50% {
        transform: translate(200px,80px);
        opacity: 0; 
    }
    54% {
        
        opacity: 1;
    }
    65% {
        opacity: 1;
    }


    90% {
        transform: translate(0px,80px);
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}


.whats-icon-container{
    z-index: 2000;
    width: 97%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: fixed;
}
.whats-fixed-icon{
    width: 3rem;
    margin-bottom: -72rem;
    z-index: 2001;
}